.buy {
	padding: 100px 0;

	&__flex {
		gap: 50px;
		display: flex;
		align-items: center;
	}

	&__content {
		flex: 1 1 50%;
	}

	&__title {
		font-weight: 600;
		font-size: 48px;
		line-height: 140%;
		color: #000000;
		& span {
			color: #FF6428;
		}
		&:not(:last-child) {
			margin: 0 0 60px 0;
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		gap: 27px;
	}

	&__images {
		flex: 1 1 50%;
		position: relative;
		display: flex;
		align-items: center;
		gap: 33px;

		& img {
			max-width: 100%;
		}
	}

	@media (max-width: 900px) {
		&__flex {
			flex-direction: column;
		}
		&__content {

			&:not(:last-child) {
				margin: 0 0 50px 0;
			}
		}
	}

	@media (max-width: 600px) {
		&__title {
			font-size: 30px;
			&:not(:last-child) {
				margin: 0 0 35px 0;
			}
		}
		&__icons {
			flex-direction: column;
			max-width: 100%;
		}
	}
}
